@charset "UTF-8";
#mainContent{
border: 1px solid black;
}

.side-menu {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 41px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side-menu .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    background-color: #111;
    color: white;
    border: 0; 
    padding: 0px 10px;
}
#menu-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    border: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    
}
#main-content{
transition: 0.5s;
}
.menu-itam{
	all: unset;
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    box-sizing: border-box;
    width: 90%;
    margin:2px;
    
    
}
.menu-itam:hover {
	border-radius: 15px;
	box-shadow: 0px 0px 2px white;
}
.menu-itam:active {
	border-radius: 15px;
    background-color: #272727;
    color: #ffffffd1;
    text-shadow: 1px 1px #043895;
    background-color:white; 
}
#page-content{
	padding: 10px;
	box-shadow: 0px 0px 1px black;
	margin: 4px;
	display: inline-block;
	width: 99%;
	height:92vh;
	overflow: auto;
	box-sizing: border-box;
}
.head1{
	margin-top: 50px;
	font-size: 2rem;
}
.delete{
	all:unset;
	font-size: 30px;
	color: white;
	width: 230px;
	padding: 5px;
	text-align:center;
	margin:10px 30px;
	display:block;
	background: linear-gradient(181deg, #b61002, #ca3427, #e61708);
}
.delete:active {
	background:none;
	background-color: #920e3c; 
    transform: scale(0.95);
}
